<div class="home__container">
    <app-cards
        gameCover="assets/bt-5.jpg"
        gameLabel="EXCLUSIVE"
        gamePrice="$ 399,00"
        gameType="DIGITAL PS5 PS4"
    >
    </app-cards>
    <app-cards
        gameCover="assets/bt-1.jpg"
        gameLabel="EXCLUSIVE"
        gamePrice="$ 89,00"
        gameType="DIGITAL PS5 PS4"
    >
    </app-cards>
    <app-cards
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gamePrice="$ 299,00"
        gameType="DIGITAL PS5 PS4"
    >
    </app-cards>
    <app-cards
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="$ 189,00"
    gameType="DIGITAL PS5 PS4"
>
</app-cards>
</div>
